//  Mixins

@mixin mediaQuery($params...) {
  @if length($params) == 1 {
    @media (min-width: nth($params, 1)) {
      @content;
    }
  }

  @if length($params) == 2 {
    @media (min-width: nth($params, 1)) and (max-width: nth($params, 2)) {
      @content;
    }
  }
}

@mixin bento {
  background-color: $bento-background-color;
  border: 2px solid #262626;
}

@mixin primaryButton {
  margin-top: 64px;
  display: block;
  background-color: $link-color;
  color: $primary-color;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  &:focus {
    outline: 4px solid #9caaf5;
  }
}
