//  Mixins

@mixin mediaQuery($params...) {
  @if length($params) == 1 {
    @media (max-width: nth($params, 1)) {
      @content;
    }
  }

  @if length($params) == 2 {
    @media (max-width: nth($params, 1)) and (min-width: nth($params, 2)) {
      @content;
    }
  }
}
