//  Mixins

@mixin mediaQuery($params...) {
  @if length($params) == 1 {
    @media (min-width: nth($params, 1)) {
      @content;
    }
  }

  @if length($params) == 2 {
    @media (min-width: nth($params, 1)) and (max-width: nth($params, 2)) {
      @content;
    }
  }
}

@mixin text {
  color: $text-color;
  font-weight: 500;
  margin-top: 12px;
  font-size: 1rem;
  text-align: center;
}

@mixin primaryButton {
  margin-top: 64px;
  display: block;
  background-color: $link-color;
  color: $primary-color;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  &:focus {
    outline: 4px solid #9CAAF5;
  }
}

@mixin secondaryButton {
  margin-top: 64px;
  display: block;
  background-color: $primary-color;
  color: $link-color;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid $link-color;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  &:focus {
    outline: 4px solid #9CAAF5;
  }
}

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}