//  Variables

$background-color: #FFFFFF;
$sec-background-color: #30303D;
$text-color: #121F3E;
$link-color: #1739E8;
$primary-color: #FFFFFF;
$accent-color: #595A5B;
$primary-font: 'SF Pro Regular', sans-serif;