//  Variables

$background-color: #0d0e10;
$sec-background-color: #22262F;
$text-color: #999999;
// $text-color: #5E626B;
$primary-color: #FFFFFF;
$accent-color: #595A5B;
$primary-font: 'Poppins', sans-serif;