//  Variables

$background-color: #ffffff;
$primary-color: #042429;
$overlay:rgb(4, 36, 41, 0.85);
$accent-color: #333333;
$accent-color-2: #aaaaaa;
$primary-font: 'Cormorant', serif;
$secondary-font: 'Quicksand', sans-serif;