/* The stylesheet for My Portfolio */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'variables';
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  color: $primary-color;
  font-family: $primary-font;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Container */
.container {
  background: $background-color;
  padding: 0 24px;
  @include mediaQuery(1024px) {
    padding: 0 72px;
  }
  @include mediaQuery(1280px) {
    padding: 0 10%;
  }
  @include mediaQuery(1440px) {
    padding: 0 144px;
    max-width: 1440px;
    margin: 0 auto;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Navigation */
.navbar {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $background-color;
  .hamburger {
    @include mediaQuery(1024px) {
      display: none;
    }
  }
}
.contact {
  display: flex;
  align-items: center;
  .logo--wrap {
    width: 56px;
    height: 48px;
    border-radius:  40% 60% 58% 42% / 50% 40% 60% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary-color;
  }
  .contact--email {
    margin-left: 12px;
    font-size: 0.75rem;
    font-weight: 500;
  }
}
.links {
  display: none;
  flex-direction: column;
  align-items: center;
  background: $primary-color;
  position: absolute;
  top: 0;
  left: -24px;
  right: -24px;
  height: 100vh;
  padding: 0 48px;
  .close {
    margin-top: 32px;
    align-self: flex-end;
    @include mediaQuery(1024px) {
      display: none;
    }
  }
  .navlinks {
    margin-top: 32px;
    color: $background-color;
    text-decoration: none;
    font-weight: 500;
    @include mediaQuery(1024px) {
      margin-top: 0;
      color: $primary-color;
      margin-left: 32px;
      font-size: 0.75rem;
    }
  }
  @include mediaQuery(1024px) {
    display: flex;
    flex-direction: row;
    background: $background-color;
    position: static;
    height: fit-content;
    padding: 0;
  }
}
.links--animate {
  animation: show-menu 0.8s;
}
.closelinks--animate {
  animation: close-menu 0.8s forwards;
}
.navlinks--animate {
  animation: fade-in-links 1s;
}
.navlinks--disappear {
  animation: fade-out-links 0.3s forwards;
}
@keyframes show-menu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@keyframes close-menu {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
@keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-links {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Hero Section */
.hero-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaQuery(1024px) {
    margin-top: 32px;
  }
}
.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  .greetings__image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    @include mediaQuery(1024px) {
      width: 140px;
      height: 140px;
    }
  }
  .greetings__greet {
    @include text;
    font-weight: 400;
    @include mediaQuery(1024px) {
      font-size: 1.5rem;
    }
  }
  .greetings--title {
    display: block;
    color: $text-color;
    // font-weight: 500;
    &::after {
      display: block;
      position: relative;
      margin-top: -6px;
      z-index: -1;
      content: '';
      width: inherit;
      height: 4px;
      border-top: 2px solid $accent-color;
      border-radius: 40% 60% 58% 42% / 45% 37% 63% 55%;
    }
  }
}
.heading {
  margin-top: 32px;
  text-align: center;
  @include mediaQuery(1024px) {
    width: 867px;
    font-size: 3rem;
  }
  &::after {
    display: block;
    position: relative;
    margin: -8px auto 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 8px;
    border-top: 4px solid $accent-color;
    border-radius: 40% 60% 58% 42% / 45% 37% 63% 55%;
    @include mediaQuery(1024px) {
      margin: -12px auto 0;
      width: 240px;
    }
  }
}
.connect {
  margin-top: 64px;
  background-color: $primary-color;
  color: $background-color;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 8px;
  border-radius: 50px;
  width: 180px;
  text-align: center;
  @include mediaQuery(1024px) {
    width: 240px;
    font-size: 1.25rem;
  }
}

/* About */
.about {
  margin-top: 124px;
}
.about--title {
  text-align: center;
  font-size: 1.5rem;
  @include mediaQuery(1024px) {
    margin-top: 164px;
    font-size: 1.75rem;
  }
  &::after {
    display: block;
    position: relative;
    margin: -8px auto 0;
    z-index: -1;
    content: '';
    width: 130px;
    height: 8px;
    border-top: 4px solid $accent-color;
    border-radius: 40% 60% 58% 42% / 45% 37% 63% 55%;
    @include mediaQuery(1024px) {
      margin: -12px auto 0;
      width: 240px;
    }
  }
}
.description {
  @include text;
  line-height: 32px;
  margin-top: 16px;
  font-weight: 400;
  @include mediaQuery(1024px) {
    font-size: 1.5rem;
    line-height: 48px;
    margin: 32px auto 0;
  }
  @include mediaQuery(1280px) {
  }
}
.build {
  display: block;
  margin-top: 32px;
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
  @include mediaQuery(1024px) {
    font-size: 1.25rem;
  }
}