/* The stylesheet for My Portfolio */

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: "SF Pro Regular";
  src: url("../../fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "SF Pro Bold";
  src: url("../../fonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
  font-family: "SF Pro Medium";
  src: url("../../fonts/SFPRODISPLAYMEDIUM.OTF");
}

@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  color: $text-color;
  font-family: $primary-font;
  box-sizing: border-box;
  letter-spacing: 1px;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  scroll-behavior: smooth;
}

/* Container */
.container {
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Navigation */
.navbar {
  padding: 12px 20px;
  @include mediaQuery(1024px) {
    padding: 24px 40px;
  }
  background: $background-color;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mediaQuery(1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
  .hamburger {
    @include mediaQuery(768px) {
      display: none;
    }
  }
}
.contact {
  display: flex;
  align-items: center;
  .logo--wrap {
    width: 56px;
    height: 48px;
    // border-radius:  40% 60% 58% 42% / 50% 40% 60% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid $primary-color;
  }
  .contact--email {
    margin-left: 12px;
    font-size: 0.875rem;
    font-weight: 500;
    color: $link-color;
  }
}
.logo--wrap {
  .logo {
    width: 56px;
    height: 48px;
  }
}
.links {
  display: none;
  flex-direction: column;
  align-items: center;
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 32px 24px 0;
  @include mediaQuery(768px) {
    display: flex;
    flex-direction: row;
    position: static;
    height: 24px;
    padding: 0;
  }
  .close {
    align-self: flex-end;
    @include mediaQuery(768px) {
      display: none;
    }
  }
  .navlinks {
    margin-top: 32px;
    font-weight: 500;
    color: $link-color;
    font-weight: 600;
    @include mediaQuery(768px) {
      margin-top: 0;
      margin-left: 32px;
      font-size: 0.875rem;
    }
  }
}
.links--animate {
  animation: show-menu 0.8s;
}
.closelinks--animate {
  animation: fade-out-links 0.8s forwards;
}
.navlinks--animate {
  animation: fade-in-links 1s;
}
.navlinks--disappear {
  animation: fade-out-links 0.3s forwards;
}
@keyframes show-menu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-links {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Hero Section */
.hero-section {
  padding: 80px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mediaQuery(768px) {
    padding-top: 120px 40px 0;
  }
}
.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  .greetings__image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    @include mediaQuery(1024px) {
      width: 140px;
      height: 140px;
    }
  }
  .greetings__greet {
    @include text;
    @include mediaQuery(768px) {
      font-size: 1.25rem;
    }
  }
}
.greetings--title {
  margin-top: 16px;
  display: block;
  color: $text-color;
  text-align: center;
}
.heading {
  margin-top: 24px;
  text-align: center;
  font-family: "SF Pro Bold", sans-serif;
  font-size: 1.5rem;
  color: $link-color;
  @include mediaQuery(480px) {
    font-size: 2rem;
  }
  @include mediaQuery(768px) {
    font-size: 3rem;
  }
}
.connect {
  @include primaryButton;
  font-family: "SF Pro Medium", sans-serif;
}
.social {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  .social-link {
    color: $link-color;
  }
}

/* About */
.about {
  margin-top: 80px;
  text-align: center;
  padding: 0 20px;
  @include mediaQuery(768px) {
    padding: 0 40px;
    margin-top: 120px;
  }
  .about--title {
    font-family: "SF Pro Bold", sans-serif;
    font-size: 1.5rem;
    color: $sec-background-color;
    @include mediaQuery(768px) {
      font-size: 2rem;
    }
  }
  .description {
    margin: 24px auto 0;
    width: 100%;
    max-width: 800px;
    line-height: 28px;
  }
}
.about-links-wrap {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  @include mediaQuery(768px) {
    flex-direction: row;
    justify-content: center;
  }
  .about-link {
    @include primaryButton;
    margin-top: 24px;
  }
  .sec-link {
    @include secondaryButton;
    margin-top: 24px;
    @include mediaQuery(768px) {
      margin-left: 24px;
    }
  }
}

/* Work */
.work {
  margin-top: 80px;
  text-align: center;
  padding: 0 20px;
  @include mediaQuery(768px) {
    padding: 0 40px;
    margin-top: 120px;
  }
  @include mediaQuery(1024px) {
    max-width: 1440px;
    margin: 120px auto;
  }
  .work--title {
    font-family: "SF Pro Bold", sans-serif;
    font-size: 1.5rem;
    color: $sec-background-color;
    @include mediaQuery(768px) {
      font-size: 2rem;
    }
  }
}
.work--wrap {
  margin: 48px auto 0;
  max-width: 640px;
  @include mediaQuery(1024px) {
    max-width: 1440px;
  }
}
.work__item:nth-child(odd) {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-top: 100px;
  @include mediaQuery(1024px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }
  .work__item--image {
    width: 100%;
  }
}
.work__item:nth-child(even) {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-top: 100px;
  .work__item--image {
    width: 100%;
  }
  @include mediaQuery(1024px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    .work__item--image {
      grid-column: 2/3;
      width: 100%;
    }
    .work__item--details {
      grid-row: 1/2;
    }
  }
}
.work__item--details {
  @include mediaQuery(1024px) {
    text-align: start;
    margin-top: 100px;
  }
  .details--title {
    color: $link-color;
    font-family: "SF Pro Bold", sans-serif;
    font-size: 1.125rem;
  }
  .tools {
    color: $accent-color;
    font-size: 0.75rem;
  }
  .details--description {
    margin-top: 12px;
    line-height: 24px;
    color: $text-color;
  }
  .item--link {
    @include primaryButton;
    margin-top: 32px;
    @include mediaQuery(1024px) {
      width: 240px;
    }
  }
}

/* Footer */
.footer {
  background: $sec-background-color;
  padding: 24px 20px;
  margin-top: 80px;
  @include mediaQuery(768px) {
    padding: 24px 40px;
    margin-top: 120px;
  }
  @include mediaQuery(1024px) {
    padding: 48px 40px;
  }
}
.footer-inner {
  display: flex;
  flex-direction: column;
  .heading {
    margin-top: 24px;
    text-align: center;
    font-family: "SF Pro Bold", sans-serif;
    font-size: 1.5rem;
    color: $primary-color;
    @include mediaQuery(480px) {
      font-size: 2rem;
    }
    @include mediaQuery(768px) {
      font-size: 3rem;
    }
  }
  .description {
    @include text;
    color: $primary-color;
    max-width: 800px;
    margin: 24px auto 0;
    line-height: 24px;
  }
  .contact--email {
    @include secondaryButton;
    border-color: $primary-color;
    color: $primary-color;
    background: transparent;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
// /* Contact */
// .about,
// .work,
// .resume,
// .contact-me {
//   margin-top: 124px;
// }
// .about--title,
// .work--title,
// .resume--title,
// .contact--title {
//   text-align: center;
//   font-size: 1.5rem;
//   @include mediaQuery(1024px) {
//     margin-top: 164px;
//     font-size: 1.75rem;
//   }
//   &::after {
//     display: block;
//     position: relative;
//     margin: -8px auto 0;
//     z-index: -1;
//     content: '';
//     width: 130px;
//     height: 8px;
//     border-top: 4px solid $accent-color;
//     border-radius: 40% 60% 58% 42% / 45% 37% 63% 55%;
//     @include mediaQuery(1024px) {
//       margin: -12px auto 0;
//       width: 240px;
//     }
//   }
// }
// /* About */
// .description {
//   @include text;
//   line-height: 32px;
//   margin-top: 16px;
//   font-weight: 400;
//   @include mediaQuery(1024px) {
//     font-size: 1.25rem;
//     line-height: 48px;
//     margin: 32px auto 0;
//   }
//   @include mediaQuery(1280px) {
//     width: 80%;
//   }
// }
// .build {
//   display: block;
//   margin-top: 32px;
//   font-weight: 700;
//   border-radius: 50px;
//   text-align: center;
//   @include mediaQuery(1024px) {
//     font-size: 1.25rem;
//   }
// }
// /* Work */
// .work--wrap {
//   display: grid;
//   margin: 32px auto 0;
//   gap: 32px;
//   max-width: 824px;
//   @include mediaQuery(768px) {
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 56px auto;
//   }
//   @include mediaQuery(1024px) {
//     margin: 64px auto 0;
//   }
// }
// .work__item {
//   width: 100%;
//   .work__item--image {
//     width: 100%;
//     // height: 480px;
//     object-fit: cover;
//   }
//   @include mediaQuery(768px) {
//     &:nth-child(2) {
//       grid-column: 2/3;
//       grid-row: 2/3;
//     }
//   }
// }
// .item--link {
//   text-decoration: none;
// }
// .work__item--details {
//   margin-top: 24px;
//   .details--title {
//     font-size: 1.125rem;
//   }
//   .details--description {
//     @include text;
//     text-align: left;
//     font-size: 0.875rem;
//     font-weight: 400;
//   }
// }

// /* Resume */
// .resume--wrap {
//   @include mediaQuery(768px) {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 72px;
//     max-width: 80%;
//     margin: 0 auto;
//     justify-items: center;
//   }
// }
// .group--title {
//   font-size: 1.5rem;
//   margin-top: 32px;
//   @include mediaQuery(1024px) {
//     margin-top: 64px;
//   }
// }
// .group--details {
//   margin-top: 24px;
//   .group--employer {
//     font-size: 1.125rem;
//   }
//   .group--role {
//     margin-top: 0.75rem;
//     color: $text-color;
//     font-weight: 600;
//   }
//   .group--duration {
//     margin-top: 0.75rem;
//     color: $text-color;
//   }
// }
// .resume__link {
//   margin-top: 24px;
//   display: block;
//   font-size: 1.125rem;
//   font-weight: 600;
//   @include mediaQuery(768px) {
//     justify-self: center;
//     grid-column: span 2 / span 2;
//   }
// }

// /* Contact Me */
// .contact--wrap {
//   margin-top: 32px;
//   @include mediaQuery(640px) {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }
// .contact__left {
//   display: flex;
//   align-items: center;
//   .contact--email {
//     font-size: 0.875rem;
//     margin-left: 12px;
//     width: 100%;
//   }
// }
// .contact__right {
//   margin-top: 32px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   a {
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     font-size: 0.875rem;
//     svg {
//       margin-right: 12px;
//     }
//     @include mediaQuery(640px) {
//       margin-left: 32px;
//     }
//   }
//   @include mediaQuery(640px) {
//     margin-left: 32px;
//     width: fit-content;
//     margin-top: 0;
//   }
// }
