/* The stylesheet for My Portfolio */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@import 'variables';
@import 'mixins';

body {
  background: $background-color;
  padding: 0;
  margin: 0;
  color: $primary-color;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Header */
.header {
  padding: 0 6%;
}
/* Navigation */
.desktop-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}
.brand {
  font-family: $secondary-font;
  font-size: 1.5rem;
  color: $accent-color;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
  span {
    font-weight: 700;
  }
}
.mobile-menu-open {
  display: none;
  @include mediaQuery(991px) {
    display: block;
  }
}
.mobile-menu-close {
  display: none;
}
.desktop-nav {
  width: 75%;
  .header--links-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-links-wrap {
      display: flex;
      align-items: center;
    }
  }
  @include mediaQuery(991px) {
    display: none;
  }
}
.nav-link {
  color: $primary-color;
  font-family: $secondary-font;
  font-weight: 700;
  display: flex;
  text-decoration: none;
  &:nth-child(n+1) {
    padding: 0 18px;
  }
  span {
    display: none;
    padding: 0 16px;
  }
  &:hover {
    color: $accent-color;
    span {
      display: flex;
    }
    &:nth-child(n+1) {
      padding: 0;
    }
  }
}
.active-link {
  color: $accent-color;
  span {
    display: flex;
    align-items: center;
  }
}
.social-links-wrap {
  display: flex;
  align-items: center;
  .social-link {
    display: flex;
    align-items: center;
    color: $primary-color;
    text-decoration: none;
    font-family: $secondary-font;
    margin-left: 20px;
    img {
      margin-right: 10px;
      &:nth-child(2) {
        display: none;
      }
    }
    &:hover {
      color: $accent-color;
      img {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: flex;
        }
      }
    }
  }
}
.mobile-nav {
  display: none;
  position: relative;
  .header--links-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nav-links-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-link {
        text-align: center;
        margin: 20px 0;
      }
    }
    .social-links-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .social-link {
        margin: 20px 0;
      }
    }
  }
}
/* End Navigation */

/* Hero Section */
.hero-section-wrap {
  padding: 64px 0 128px;
  display: flex;
  justify-content: space-between;
  @include mediaQuery(991px) {
    flex-direction: column-reverse;
  }
  @include mediaQuery(576px) {
    padding-bottom: 64px;
  }
}
.hero-section__details {
  margin-top: 56px;
  margin-right: 64px;
  width: 34vw;
  @include mediaQuery(991px) {
    width: 100%;
  }
  @include mediaQuery(576px) {
    margin-right: 0;
    .hero-section--tag, .hero-section--contact {
      display: block;
      width: fit-content;
      margin: auto;
    }
    .hero-section--text {
      text-align: center;
    }
  }
  .hero-section--tag {
    color: $section-background-color;
    font-family: $secondary-font;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 8px 15px;
    background-color: $accent-color;
    border-radius: 5px;
  }
  .hero-section--header {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 3rem;
    font-weight: 700;
    margin: 48px 0 0;
    @include mediaQuery(576px) {
      font-size: 2.5rem;
      text-align: center;
    }
    @include mediaQuery(420px) {
      font-size: 2rem;
    }
  }
  .hero-section--header-2 {
    @include section-head
  }
  .hero-section--text {
    @include section-text
  }
  .hero-section--contact {
    color: $accent-color;
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }
}
.hero-section__images-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  @include mediaQuery(991px) {
    grid-template-columns: 15vw 38vw auto;
  }
}
.react-wrap {
  justify-self: end;
  align-self: center;
  margin-right: -4.8vw;
  margin-top: 5%;
  width: 11vw;
  height: 11vw;
  background-color: $circle-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
  @include mediaQuery(991px) {
    width: 20vw;
    height: 20vw;
    margin-right: -7vw;
  }
  z-index: 1000;
  .react-logo {
    width: 5vw;
    height: auto;
    max-width: 100%;
    @include mediaQuery(991px) {
      width: 8vw;
    }
  }
}
.picture-wrap {
  background-color: $section-background-color;
  border-radius: 50%;
  width: 35vw;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mediaQuery(991px) {
    width: 60vw;
    height: 60vw;
  }
  .my-pic {
    width: 18.4vw;
    height: auto;
    max-width: 100%;
    @include mediaQuery(991px) {
      width: 35vw;
    }
  }
}
.sass-wrap {
  justify-self: start;
  align-self: center;
  margin-left: -5vw;
  margin-top: -1000%;
  width: 7vw;
  height: 7vw;
  background-color: $circle-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
  @include mediaQuery(991px) {
    margin-top: -150%;
    margin-left: 5vw;
    width: 12vw;
    height: 12vw;
  }
  .sass-logo {
    width: 3vw;
    height: auto;
    max-width: 100%;
    @include mediaQuery(991px) {
      width: 4vw;
    }
  }
}

.js-wrap {
  grid-column: 2/3;
  justify-self: end;
  margin-top: -25%;
  width: 14vw;
  height: 14vw;
  background-color: $circle-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
  @include mediaQuery(991px) {
    width: 25vw;
    height: 25vw;
    margin-right: -25vw;
    margin-top: -45%;
  }
  .js-logo {
    width: 5vw;
    height: auto;
    max-width: 100%;
    @include mediaQuery(991px) {
      width: 9vw;
    }
  }
}
/* End Hero Section */

/* About Section */
.about-wrap {
  background-color: $section-background-color;
  padding: 128px 6%;
  @include mediaQuery(576px) {
    padding: 64px 6%;
  }
}
.sub-section--header {
  margin-bottom: 0 !important;
  @include section-head
}
.sub-section--text {
  margin-top: 0;
  @include section-text
}
.about-details-wrap {
  display: grid;
  grid-template-columns: 34vw 1fr;
  grid-column-gap: 48px;
  margin-bottom: 64px;
  @include mediaQuery(991px) {
    grid-template-columns: 40vw 1fr;
    grid-column-gap: 24px;
  }
  @include mediaQuery(576px) {
    display: none;
  }
}
.about-details--section-wrap {
  display: grid;
  grid-gap: 16px;
}
.about-details--section {
  padding: 16px 24px;
  background-color: $background-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.25);
    .about-details--title {
      color: $accent-color;
  }
  }
  .about-details--title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .about-details--title {
      font-family: $primary-font;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0;
      @include mediaQuery(991px) {
        font-size: 1.2rem;
      }
      @include mediaQuery(768px) {
        font-size: 1rem;
      }
    }
  }
  .about-details--mini-text {
    margin: 16px 0 0;
    @include section-text
  }
}
.active-section {
  box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.25);
  .about-details--title {
    color: $accent-color;
  }
}
.about-details--name {
  margin-top: 16px;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.08em;
  @include mediaQuery(991px) {
    font-size: 2rem;
  }
  @include mediaQuery(768px) {
    font-size: 1.5rem;
  }
}
.about-details--text {
  color: $primary-color !important;
  line-height: 32px;
  text-align: left !important;
  margin-bottom: 0;
  @include section-text
}
.about-details-wrap-mobile {
  display: none;
  margin-bottom: 64px;
  @include mediaQuery(576px) {
    display: block;
  }
  .about-details--name {
    margin: 32px 0;
  }
  .about-details--title {
    color: $accent-color;
  }
}
.skills-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 24px;
  place-items: center;
  margin-top: 32px;
}
.skill-block {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: $background-color;
  // padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
  &:nth-child(1) {
    .skill-name {
      color: #E34F26;
    }
  }
  &:nth-child(2) {
    .skill-name {
      color: #264DE4;
    }
  }
  &:nth-child(3) {
    .skill-name {
      color: #CC6699;
    }
  }
  &:nth-child(5) {
    .skill-name {
      color: #61DAFB;
    }
  }
  &:nth-child(6) {
    .skill-name {
      // color: #563D7C;
      color: $primary-color;
    }
  }
  &:nth-child(7) {
    .skill-name {
      color: #F1502F;
    }
  }
  .skill-img {
    margin-bottom: 24px;
    width: 72px;
    height: 72px;
  }
  .skill-name {
    font-family: $primary-font;
    color: $accent-color;
    font-size: 1rem;
  }
}
.brand-logos {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .brand-logos--img {
    margin: 8px 16px;
    max-width: 100%;
  }
}
/* End About Section */