//  Variables

$background-color: #2D2E32;
$section-background-color: #28292D;
$circle-background-color: #25262A;
$primary-color: #FFFFFF;
$accent-color: #F7DF1E;
$accent-color-2: #7B7B83;
$primary-font: 'Courier Prime', monospace;
$secondary-font: 'Source Sans Pro', sans-serif;