/* The stylesheet for My Portfolio */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap");
body {
  padding: 0;
  margin: 0;
}

.fixed-about-wrap {
  background-color: #042429;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .fixed-about-wrap {
    position: fixed;
    right: 0;
    top: 0;
    width: 35vw;
    box-sizing: border-box;
  }
}
@media (min-height: 720px) {
  .fixed-about-wrap {
    height: 640px;
  }
}
@media (min-width: 1024px) and (min-height: 720px) {
  .fixed-about-wrap {
    height: 100vh;
  }
}

.navbar {
  padding: 0 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
@media (min-width: 1024px) {
  .navbar {
    justify-content: flex-end;
  }
}
.navbar .navlink {
  font-family: "Cormorant", serif;
  font-size: 0.875rem;
  margin: 0 8px;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .navbar .navlink {
    font-size: 1rem;
  }
  .navbar .navlink:last-child {
    margin-right: 0;
  }
}

.navbar-mobile {
  display: none;
  background-color: #ffffff;
  height: 72px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid #042429;
}
.navbar-mobile .navlink {
  font-family: "Cormorant", serif;
  font-size: 0.875rem;
  margin: 0 8px;
  color: #042429;
  text-decoration: none;
}

.hero-section {
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .hero-section {
    align-items: flex-end;
  }
}
.hero-section .hero-section--text-start,
.hero-section .hero-section--text {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .hero-section .hero-section--text-start,
.hero-section .hero-section--text {
    text-align: right;
    font-size: 1.2rem;
  }
}
.hero-section .hero-section--title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
}
@media (min-width: 1024px) {
  .hero-section .hero-section--title {
    font-size: 3.5rem;
  }
}
.hero-section .hero-section--text {
  line-height: 2rem;
  margin-top: 0;
}

.socials-wrap {
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .socials-wrap {
    justify-content: flex-end;
  }
}
.socials-wrap .socials--link {
  margin: 0 12px;
}
.socials-wrap .socials--link .socials--icon {
  width: 16px;
}

.about-wrap, .projects-wrap {
  padding: 32px 7%;
}
@media (min-width: 1024px) {
  .about-wrap, .projects-wrap {
    padding: 32px 3%;
    margin-right: 40vw;
  }
}
.about-wrap .section-title, .projects-wrap .section-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: #e1dfdf;
  margin-top: 0;
  position: absolute;
  left: 8px;
  z-index: -1;
}
@media (min-width: 1024px) {
  .about-wrap .section-title, .projects-wrap .section-title {
    font-size: 5rem;
    top: 0px;
  }
}
.about-wrap .about--text, .projects-wrap .about--text {
  margin: 0;
  padding-top: 36px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  color: #333333;
}
@media (min-width: 1024px) {
  .about-wrap .about--text, .projects-wrap .about--text {
    text-align: left;
    padding-top: 30px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .about-wrap .about--text, .projects-wrap .about--text {
    height: 150px;
  }
}
@media (min-width: 1920px) {
  .about-wrap .about--text, .projects-wrap .about--text {
    width: 900px;
  }
}

.projects-wrap .section-title {
  font-family: "Cormorant", serif;
  font-size: 3rem;
  color: #e1dfdf;
  margin-top: 0;
  position: absolute;
  left: 8px;
  z-index: -1;
}
@media (min-width: 1024px) {
  .projects-wrap .section-title {
    font-size: 5rem;
    top: 300px;
  }
}
@media (min-width: 1440px) {
  .projects-wrap .section-title {
    font-size: 5rem;
    top: 250px;
  }
}

.projects__container {
  padding: 42px 0;
}
@media (min-width: 576px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .projects__container {
    column-gap: 32px;
  }
}

.projects--inner-wrap:last-child {
  margin-top: 48px;
}
.projects--inner-wrap:last-child a {
  display: flex;
  flex-direction: column-reverse;
}
.projects--inner-wrap a {
  text-decoration: none;
}
.projects--inner-wrap .projects--img-wrap {
  width: 100%;
  margin-bottom: 32px;
}
.projects--inner-wrap .projects--img-wrap .projects--img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border: 0.5px solid #aaaaaa;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 0 5px #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects--inner-wrap .projects--img-wrap .projects--img span {
  display: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  padding: 16px;
  text-align: center;
}
.projects--inner-wrap .projects--title {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #333333;
}

.first-project {
  background-image: url("/assets/img/roi-shot.png");
}
.first-project:hover {
  background-image: linear-gradient(rgba(4, 36, 41, 0.85), rgba(4, 36, 41, 0.85)), url("/assets/img/roi-shot.png");
}
.first-project:hover span {
  display: block !important;
}

.second-project {
  background-image: url("/assets/img/elpistis-shot.png");
}
.second-project:hover {
  background-image: linear-gradient(rgba(4, 36, 41, 0.85), rgba(4, 36, 41, 0.85)), url("/assets/img/elpistis-shot.png");
}
.second-project:hover span {
  display: block !important;
}

.third-project {
  background-image: url("/assets/img/learnr-shot.png");
}
.third-project:hover {
  background-image: linear-gradient(rgba(4, 36, 41, 0.85), rgba(4, 36, 41, 0.85)), url("/assets/img/learnr-shot.png");
}
.third-project:hover span {
  display: block !important;
}