/* The stylesheet for My Portfolio */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

/* Container */
.container {
  background: #0d0e10;
  padding: 0 24px;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 72px;
  }
}
@media (min-width: 1280px) {
  .container {
    padding: 0 10%;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 144px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.container::-webkit-scrollbar {
  display: none;
}

/* Navigation */
.navbar {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #0d0e10;
}
@media (min-width: 1024px) {
  .navbar .hamburger {
    display: none;
  }
}

.contact {
  display: flex;
  align-items: center;
}
.contact .logo--wrap {
  width: 56px;
  height: 48px;
  border-radius: 40% 60% 58% 42%/50% 40% 60% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}
.contact .contact--email {
  margin-left: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}

.links {
  display: none;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: -24px;
  right: -24px;
  height: 100vh;
  padding: 0 48px;
}
.links .close {
  margin-top: 32px;
  align-self: flex-end;
}
@media (min-width: 1024px) {
  .links .close {
    display: none;
  }
}
.links .navlinks {
  margin-top: 32px;
  color: #0d0e10;
  text-decoration: none;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .links .navlinks {
    margin-top: 0;
    color: #FFFFFF;
    margin-left: 32px;
    font-size: 0.75rem;
  }
}
@media (min-width: 1024px) {
  .links {
    display: flex;
    flex-direction: row;
    background: #0d0e10;
    position: static;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
}

.links--animate {
  animation: show-menu 0.8s;
}

.closelinks--animate {
  animation: close-menu 0.8s forwards;
}

.navlinks--animate {
  animation: fade-in-links 1s;
}

.navlinks--disappear {
  animation: fade-out-links 0.3s forwards;
}

@keyframes show-menu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@keyframes close-menu {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
@keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-links {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Hero Section */
.hero-section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .hero-section {
    margin-top: 32px;
  }
}

.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greetings .greetings__image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
@media (min-width: 1024px) {
  .greetings .greetings__image {
    width: 140px;
    height: 140px;
  }
}
.greetings .greetings__greet {
  color: #999999;
  font-weight: 500;
  margin-top: 12px;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .greetings .greetings__greet {
    font-size: 1.5rem;
  }
}
.greetings .greetings--title {
  display: block;
  color: #999999;
}
.greetings .greetings--title::after {
  display: block;
  position: relative;
  margin-top: -6px;
  z-index: -1;
  content: "";
  width: inherit;
  height: 4px;
  border-top: 2px solid #595A5B;
  border-radius: 40% 60% 58% 42%/45% 37% 63% 55%;
}

.heading {
  margin-top: 32px;
  text-align: center;
}
@media (min-width: 1024px) {
  .heading {
    width: 867px;
    font-size: 3rem;
  }
}
.heading::after {
  display: block;
  position: relative;
  margin: -8px auto 0;
  z-index: -1;
  content: "";
  width: 130px;
  height: 8px;
  border-top: 4px solid #595A5B;
  border-radius: 40% 60% 58% 42%/45% 37% 63% 55%;
}
@media (min-width: 1024px) {
  .heading::after {
    margin: -12px auto 0;
    width: 240px;
  }
}

.connect {
  margin-top: 64px;
  background-color: #FFFFFF;
  color: #0d0e10;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 8px;
  border-radius: 50px;
  width: 180px;
  text-align: center;
}
@media (min-width: 1024px) {
  .connect {
    width: 240px;
    font-size: 1.25rem;
  }
}

/* About */
.about {
  margin-top: 124px;
}

.about--title {
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 1024px) {
  .about--title {
    margin-top: 164px;
    font-size: 1.75rem;
  }
}
.about--title::after {
  display: block;
  position: relative;
  margin: -8px auto 0;
  z-index: -1;
  content: "";
  width: 130px;
  height: 8px;
  border-top: 4px solid #595A5B;
  border-radius: 40% 60% 58% 42%/45% 37% 63% 55%;
}
@media (min-width: 1024px) {
  .about--title::after {
    margin: -12px auto 0;
    width: 240px;
  }
}

.description {
  color: #999999;
  font-weight: 500;
  margin-top: 12px;
  font-size: 1.125rem;
  text-align: center;
  line-height: 32px;
  margin-top: 16px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .description {
    font-size: 1.5rem;
    line-height: 48px;
    margin: 32px auto 0;
  }
}
.build {
  display: block;
  margin-top: 32px;
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
}
@media (min-width: 1024px) {
  .build {
    font-size: 1.25rem;
  }
}