/* The stylesheet for My Portfolio */
@font-face {
  font-family: "SF Pro Regular";
  src: url("../../fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SF Pro Bold";
  src: url("../../fonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: "SF Pro Medium";
  src: url("../../fonts/SFPRODISPLAYMEDIUM.OTF");
}
* {
  padding: 0;
  margin: 0;
  color: #121F3E;
  font-family: "SF Pro Regular", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
}

/* Container */
.container::-webkit-scrollbar {
  display: none;
}

/* Navigation */
.navbar {
  padding: 12px 20px;
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (min-width: 1024px) {
  .navbar {
    padding: 24px 40px;
  }
}

.nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1440px) {
  .nav-inner {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .nav-inner .hamburger {
    display: none;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .logo--wrap {
  width: 56px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .contact--email {
  margin-left: 12px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1739E8;
}

.logo--wrap .logo {
  width: 56px;
  height: 48px;
}

.links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 32px 24px 0;
}
@media (min-width: 768px) {
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    height: 24px;
    padding: 0;
  }
}
.links .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (min-width: 768px) {
  .links .close {
    display: none;
  }
}
.links .navlinks {
  margin-top: 32px;
  font-weight: 500;
  color: #1739E8;
  font-weight: 600;
}
@media (min-width: 768px) {
  .links .navlinks {
    margin-top: 0;
    margin-left: 32px;
    font-size: 0.875rem;
  }
}

.links--animate {
  -webkit-animation: show-menu 0.8s;
          animation: show-menu 0.8s;
}

.closelinks--animate {
  -webkit-animation: fade-out-links 0.8s forwards;
          animation: fade-out-links 0.8s forwards;
}

.navlinks--animate {
  -webkit-animation: fade-in-links 1s;
          animation: fade-in-links 1s;
}

.navlinks--disappear {
  -webkit-animation: fade-out-links 0.3s forwards;
          animation: fade-out-links 0.3s forwards;
}

@-webkit-keyframes show-menu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes show-menu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
@-webkit-keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-links {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out-links {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-links {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Hero Section */
.hero-section {
  padding: 80px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .hero-section {
    padding-top: 120px 40px 0;
  }
}

.greetings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.greetings .greetings__image {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1024px) {
  .greetings .greetings__image {
    width: 140px;
    height: 140px;
  }
}
.greetings .greetings__greet {
  color: #121F3E;
  font-weight: 500;
  margin-top: 12px;
  font-size: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .greetings .greetings__greet {
    font-size: 1.25rem;
  }
}

.greetings--title {
  margin-top: 16px;
  display: block;
  color: #121F3E;
  text-align: center;
}

.heading {
  margin-top: 24px;
  text-align: center;
  font-family: "SF Pro Bold", sans-serif;
  font-size: 1.5rem;
  color: #1739E8;
}
@media (min-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

.connect {
  margin-top: 64px;
  display: block;
  background-color: #1739E8;
  color: #FFFFFF;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  font-family: "SF Pro Medium", sans-serif;
}
.connect:focus {
  outline: 4px solid #9CAAF5;
}

.social {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}
.social .social-link {
  color: #1739E8;
}

/* About */
.about {
  margin-top: 80px;
  text-align: center;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .about {
    padding: 0 40px;
    margin-top: 120px;
  }
}
.about .about--title {
  font-family: "SF Pro Bold", sans-serif;
  font-size: 1.5rem;
  color: #30303D;
}
@media (min-width: 768px) {
  .about .about--title {
    font-size: 2rem;
  }
}
.about .description {
  margin: 24px auto 0;
  width: 100%;
  max-width: 800px;
  line-height: 28px;
}

.about-links-wrap {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .about-links-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about-links-wrap .about-link {
  margin-top: 64px;
  display: block;
  background-color: #1739E8;
  color: #FFFFFF;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 24px;
}
.about-links-wrap .about-link:focus {
  outline: 4px solid #9CAAF5;
}
.about-links-wrap .sec-link {
  margin-top: 64px;
  display: block;
  background-color: #FFFFFF;
  color: #1739E8;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #1739E8;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 24px;
}
.about-links-wrap .sec-link:focus {
  outline: 4px solid #9CAAF5;
}
@media (min-width: 768px) {
  .about-links-wrap .sec-link {
    margin-left: 24px;
  }
}

/* Work */
.work {
  margin-top: 80px;
  text-align: center;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .work {
    padding: 0 40px;
    margin-top: 120px;
  }
}
@media (min-width: 1024px) {
  .work {
    max-width: 1440px;
    margin: 120px auto;
  }
}
.work .work--title {
  font-family: "SF Pro Bold", sans-serif;
  font-size: 1.5rem;
  color: #30303D;
}
@media (min-width: 768px) {
  .work .work--title {
    font-size: 2rem;
  }
}

.work--wrap {
  margin: 48px auto 0;
  max-width: 640px;
}
@media (min-width: 1024px) {
  .work--wrap {
    max-width: 1440px;
  }
}

.work__item:nth-child(odd) {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-top: 100px;
}
@media (min-width: 1024px) {
  .work__item:nth-child(odd) {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
.work__item:nth-child(odd) .work__item--image {
  width: 100%;
}

.work__item:nth-child(even) {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-top: 100px;
}
@media (min-width: 1024px) {
  .work__item:nth-child(even) {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
  .work__item:nth-child(even) .work__item--image {
    grid-column: 2/3;
    width: 100%;
  }
  .work__item:nth-child(even) .work__item--details {
    grid-row: 1/2;
  }
}

@media (min-width: 1024px) {
  .work__item--details {
    text-align: start;
    margin-top: 100px;
  }
}
.work__item--details .details--title {
  color: #1739E8;
  font-family: "SF Pro Bold", sans-serif;
  font-size: 1.125rem;
}
.work__item--details .tools {
  color: #595A5B;
  font-size: 0.75rem;
}
.work__item--details .details--description {
  margin-top: 12px;
  line-height: 24px;
  color: #121F3E;
}
.work__item--details .item--link {
  margin-top: 64px;
  display: block;
  background-color: #1739E8;
  color: #FFFFFF;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 32px;
}
.work__item--details .item--link:focus {
  outline: 4px solid #9CAAF5;
}
@media (min-width: 1024px) {
  .work__item--details .item--link {
    width: 240px;
  }
}

/* Footer */
.footer {
  background: #30303D;
  padding: 24px 20px;
  margin-top: 80px;
}
@media (min-width: 768px) {
  .footer {
    padding: 24px 40px;
    margin-top: 120px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 48px 40px;
  }
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-inner .heading {
  margin-top: 24px;
  text-align: center;
  font-family: "SF Pro Bold", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 480px) {
  .footer-inner .heading {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .footer-inner .heading {
    font-size: 3rem;
  }
}
.footer-inner .description {
  color: #121F3E;
  font-weight: 500;
  margin-top: 12px;
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
  max-width: 800px;
  margin: 24px auto 0;
  line-height: 24px;
}
.footer-inner .contact--email {
  margin-top: 64px;
  display: block;
  background-color: #FFFFFF;
  color: #1739E8;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #1739E8;
  min-width: 120px;
  text-align: center;
  font-size: 0.875rem;
  border-color: #FFFFFF;
  color: #FFFFFF;
  background: transparent;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.footer-inner .contact--email:focus {
  outline: 4px solid #9CAAF5;
}