/* The stylesheet for My Portfolio */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");
body {
  background: #2D2E32;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}
body::-webkit-scrollbar {
  display: none;
}

/* Header */
.header {
  padding: 0 6%;
}

/* Navigation */
.desktop-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.brand {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #F7DF1E;
  text-decoration: none;
}
.brand:hover {
  color: #FFFFFF;
}
.brand span {
  font-weight: 700;
}

.mobile-menu-open {
  display: none;
}
@media (max-width: 991px) {
  .mobile-menu-open {
    display: block;
  }
}

.mobile-menu-close {
  display: none;
}

.desktop-nav {
  width: 75%;
}
.desktop-nav .header--links-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop-nav .header--links-wrap .nav-links-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .desktop-nav {
    display: none;
  }
}

.nav-link {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  text-decoration: none;
}
.nav-link:nth-child(n+1) {
  padding: 0 18px;
}
.nav-link span {
  display: none;
  padding: 0 16px;
}
.nav-link:hover {
  color: #F7DF1E;
}
.nav-link:hover span {
  display: flex;
}
.nav-link:hover:nth-child(n+1) {
  padding: 0;
}

.active-link {
  color: #F7DF1E;
}
.active-link span {
  display: flex;
  align-items: center;
}

.social-links-wrap {
  display: flex;
  align-items: center;
}
.social-links-wrap .social-link {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 20px;
}
.social-links-wrap .social-link img {
  margin-right: 10px;
}
.social-links-wrap .social-link img:nth-child(2) {
  display: none;
}
.social-links-wrap .social-link:hover {
  color: #F7DF1E;
}
.social-links-wrap .social-link:hover img:nth-child(1) {
  display: none;
}
.social-links-wrap .social-link:hover img:nth-child(2) {
  display: flex;
}

.mobile-nav {
  display: none;
  position: relative;
}
.mobile-nav .header--links-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-nav .header--links-wrap .nav-links-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav .header--links-wrap .nav-links-wrap .nav-link {
  text-align: center;
  margin: 20px 0;
}
.mobile-nav .header--links-wrap .social-links-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-nav .header--links-wrap .social-links-wrap .social-link {
  margin: 20px 0;
}

/* End Navigation */
/* Hero Section */
.hero-section-wrap {
  padding: 64px 0 128px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .hero-section-wrap {
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  .hero-section-wrap {
    padding-bottom: 64px;
  }
}

.hero-section__details {
  margin-top: 56px;
  margin-right: 64px;
  width: 34vw;
}
@media (max-width: 991px) {
  .hero-section__details {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero-section__details {
    margin-right: 0;
  }
  .hero-section__details .hero-section--tag, .hero-section__details .hero-section--contact {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .hero-section__details .hero-section--text {
    text-align: center;
  }
}
.hero-section__details .hero-section--tag {
  color: #28292D;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 8px 15px;
  background-color: #F7DF1E;
  border-radius: 5px;
}
.hero-section__details .hero-section--header {
  color: #FFFFFF;
  font-family: "Courier Prime", monospace;
  font-size: 3rem;
  font-weight: 700;
  margin: 48px 0 0;
}
@media (max-width: 576px) {
  .hero-section__details .hero-section--header {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .hero-section__details .hero-section--header {
    font-size: 2rem;
  }
}
.hero-section__details .hero-section--header-2 {
  color: #FFFFFF;
  font-family: "Courier Prime", monospace;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 22px 0;
  letter-spacing: -0.08em;
}
@media (max-width: 576px) {
  .hero-section__details .hero-section--header-2 {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .hero-section__details .hero-section--header-2 {
    font-size: 1.5rem;
  }
}
.hero-section__details .hero-section--text {
  color: #C5C5C5;
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 576px) {
  .hero-section__details .hero-section--text {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .hero-section__details .hero-section--text {
    font-size: 0.9rem;
  }
}
.hero-section__details .hero-section--contact {
  color: #F7DF1E;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.hero-section__details .hero-section--contact:hover {
  color: #FFFFFF;
}

.hero-section__images-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
@media (max-width: 991px) {
  .hero-section__images-wrap {
    grid-template-columns: 15vw 38vw auto;
  }
}

.react-wrap {
  justify-self: end;
  align-self: center;
  margin-right: -4.8vw;
  margin-top: 5%;
  width: 11vw;
  height: 11vw;
  background-color: #25262A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
@media (max-width: 991px) {
  .react-wrap {
    width: 20vw;
    height: 20vw;
    margin-right: -7vw;
  }
}
.react-wrap .react-logo {
  width: 5vw;
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .react-wrap .react-logo {
    width: 8vw;
  }
}

.picture-wrap {
  background-color: #28292D;
  border-radius: 50%;
  width: 35vw;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .picture-wrap {
    width: 60vw;
    height: 60vw;
  }
}
.picture-wrap .my-pic {
  width: 18.4vw;
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .picture-wrap .my-pic {
    width: 35vw;
  }
}

.sass-wrap {
  justify-self: start;
  align-self: center;
  margin-left: -5vw;
  margin-top: -1000%;
  width: 7vw;
  height: 7vw;
  background-color: #25262A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  .sass-wrap {
    margin-top: -150%;
    margin-left: 5vw;
    width: 12vw;
    height: 12vw;
  }
}
.sass-wrap .sass-logo {
  width: 3vw;
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .sass-wrap .sass-logo {
    width: 4vw;
  }
}

.js-wrap {
  grid-column: 2/3;
  justify-self: end;
  margin-top: -25%;
  width: 14vw;
  height: 14vw;
  background-color: #25262A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  .js-wrap {
    width: 25vw;
    height: 25vw;
    margin-right: -25vw;
    margin-top: -45%;
  }
}
.js-wrap .js-logo {
  width: 5vw;
  height: auto;
  max-width: 100%;
}
@media (max-width: 991px) {
  .js-wrap .js-logo {
    width: 9vw;
  }
}

/* End Hero Section */
/* About Section */
.about-wrap {
  background-color: #28292D;
  padding: 128px 6%;
}
@media (max-width: 576px) {
  .about-wrap {
    padding: 64px 6%;
  }
}

.sub-section--header {
  margin-bottom: 0 !important;
  color: #FFFFFF;
  font-family: "Courier Prime", monospace;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 22px 0;
  letter-spacing: -0.08em;
}
@media (max-width: 576px) {
  .sub-section--header {
    font-size: 2rem;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .sub-section--header {
    font-size: 1.5rem;
  }
}

.sub-section--text {
  margin-top: 0;
  color: #C5C5C5;
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 576px) {
  .sub-section--text {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .sub-section--text {
    font-size: 0.9rem;
  }
}

.about-details-wrap {
  display: grid;
  grid-template-columns: 34vw 1fr;
  grid-column-gap: 48px;
  margin-bottom: 64px;
}
@media (max-width: 991px) {
  .about-details-wrap {
    grid-template-columns: 40vw 1fr;
    grid-column-gap: 24px;
  }
}
@media (max-width: 576px) {
  .about-details-wrap {
    display: none;
  }
}

.about-details--section-wrap {
  display: grid;
  grid-gap: 16px;
}

.about-details--section {
  padding: 16px 24px;
  background-color: #2D2E32;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.about-details--section:hover {
  box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.25);
}
.about-details--section:hover .about-details--title {
  color: #F7DF1E;
}
.about-details--section .about-details--title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.about-details--section .about-details--title-wrap .about-details--title {
  font-family: "Courier Prime", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
@media (max-width: 991px) {
  .about-details--section .about-details--title-wrap .about-details--title {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .about-details--section .about-details--title-wrap .about-details--title {
    font-size: 1rem;
  }
}
.about-details--section .about-details--mini-text {
  margin: 16px 0 0;
  color: #C5C5C5;
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 576px) {
  .about-details--section .about-details--mini-text {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .about-details--section .about-details--mini-text {
    font-size: 0.9rem;
  }
}

.active-section {
  box-shadow: 0px 24px 16px rgba(0, 0, 0, 0.25);
}
.active-section .about-details--title {
  color: #F7DF1E;
}

.about-details--name {
  margin-top: 16px;
  color: #FFFFFF;
  font-family: "Courier Prime", monospace;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -0.08em;
}
@media (max-width: 991px) {
  .about-details--name {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .about-details--name {
    font-size: 1.5rem;
  }
}

.about-details--text {
  color: #FFFFFF !important;
  line-height: 32px;
  text-align: left !important;
  margin-bottom: 0;
  color: #C5C5C5;
  font-family: "Courier Prime", monospace;
  font-size: 1rem;
  font-weight: 400;
}
@media (max-width: 576px) {
  .about-details--text {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .about-details--text {
    font-size: 0.9rem;
  }
}

.about-details-wrap-mobile {
  display: none;
  margin-bottom: 64px;
}
@media (max-width: 576px) {
  .about-details-wrap-mobile {
    display: block;
  }
}
.about-details-wrap-mobile .about-details--name {
  margin: 32px 0;
}
.about-details-wrap-mobile .about-details--title {
  color: #F7DF1E;
}

.skills-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 24px;
  place-items: center;
  margin-top: 32px;
}

.skill-block {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-color: #2D2E32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.25);
}
.skill-block:nth-child(1) .skill-name {
  color: #E34F26;
}
.skill-block:nth-child(2) .skill-name {
  color: #264DE4;
}
.skill-block:nth-child(3) .skill-name {
  color: #CC6699;
}
.skill-block:nth-child(5) .skill-name {
  color: #61DAFB;
}
.skill-block:nth-child(6) .skill-name {
  color: #563D7C;
}
.skill-block:nth-child(7) .skill-name {
  color: #F1502F;
}
.skill-block .skill-img {
  margin-bottom: 24px;
  width: 72px;
  height: 72px;
}
.skill-block .skill-name {
  font-family: "Courier Prime", monospace;
  color: #F7DF1E;
  font-size: 1rem;
}

.brand-logos {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  place-items: center;
  grid-column-gap: 24px;
}
.brand-logos .brand-logos--img {
  margin: 8px 5vw;
  max-width: 100%;
}

/* End About Section */